body{
  padding: 0.5%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 8fr 1fr 1fr;
  margin: 0 auto;
}
h1 {
  text-align: center;
  font-size: 8em;
  margin: 0;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
div > div {
  width: 60%;
  height: 60%;
  margin: auto;
}
.left {
  margin-left: 30%;
}
.right {
  margin-right: 30%;
}
#red {
  background-color: Red;
  border-radius: 15px 50px 30px;
}
#green {
  background-color: Green;
  border-radius: 50px 15px 50px 30px;
}
#yellow {
  background-color: Yellow;
  border-radius: 50px 30px 50px 15px;
}
#blue {
  background-color: Blue;
  border-radius: 30px 50px 15px;
}
p {
  font-size: 2em;
  margin: 0 auto;
  margin-top: .5em;
}
Button {
  border: .1em solid black;
  color: black;
  font-size: 1.5em;
  background-color: transparent;
  width: 5.5em;
  margin: 0 auto;
}
Button:hover {
  border-color: gray;
  color: gray;
}
#modal{
  width: 75%;
  height: 500px;
  background-color: white;
  margin: 0 auto;
  margin-top: -500px;
  text-align: center;
}
#modal > p {
  font-size: 3em;
  margin-bottom: 20px;
}